@font-face {
  font-family: comic;
  src: url("/font/ComicNeue-Bold.ttf");
}

body {
  margin: 0;
}

.spaceGame {
  height: 100vh;
  width: 100%;
  background-image: url("/Assets/images/Qback.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.GamePlayCard {
  font-family: comic;
  width: 500px;
  height: 580px;
  border-radius: 7px;
  background: radial-gradient(#faca52, #ffaf2f);
  padding: 17px 0 0 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game_Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score, .quitter {
  margin: 0;
  color: white;
}

.quitter:hover {
  cursor: pointer;
  color: red;
  -webkit-filter: drop-shadow(0 0 0.15rem rgba(255, 174, 0, 0.753));
          filter: drop-shadow(0 0 0.15rem rgba(255, 174, 0, 0.753));
}

.heart {
  color: red;
}

.img_Holder {
  width: 340px;
  height: 200px;
  background-color: #0DC2F1;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0 15px 0;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  -webkit-filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.466));
          filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 0.466));
}

.img_Holder img {
  width: 310px;
  height: 170px;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.question {
  color: white;
  font-size: 28px;
  font-family: comic;
  font-style: italic;
  margin: 0 0 15px 0;
}

.answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.answers button {
  width: 68%;
  border: none;
  height: 50px;
  font-family: comic;
  font-size: 22px;
  border-radius: 8px;
  margin: 0 0 17px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.267));
          filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.267));
}

.correct {
  color: white;
  background-color: #01D473;
}

.bad {
  color: white;
  background-color: #ff0000;
}

.answers button:hover {
  width: 75%;
  -webkit-filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.384));
          filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.384));
}

.yes {
  color: white;
  display: none;
}

.countdown {
  margin-top: 10px;
  position: relative;
  width: 100%;
  height: 9px;
  border-radius: 0 0 7px 10px;
  background-color: #d4d4d4;
}

.countdown .timeLeft {
  height: 100%;
  width: 0;
  border-radius: 0 10px 10px 10px;
  background-color: #00aa1c;
}

/*********************** GAME OVER **********************/
.GameOver {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.911);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last_Message {
  width: 570px;
  height: 468px;
  border-radius: 12px;
  text-align: center;
  background-color: white;
  font-family: comic;
  padding: 27px 0 0 0;
}

.first_Text {
  font-size: 24px;
}

.score_End {
  margin: 0 0 50px 0;
  font-size: 100px;
  color: green;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 70px;
}

.link {
  background-color: #f3f3f3;
  height: 29px;
  width: 350px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 2px 0 0 15px;
  margin-right: 10px;
}

.share a img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.last_Message img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.GameOver button {
  font-family: comic;
  font-size: 18px;
  width: 183px;
  height: 43px;
  color: white;
  background-color: #3A559D;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 30px 10px 0 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

/********* STOP GAME **********/
@media only screen and (max-width: 600px) {
  .spaceGame, .GamePlayCard {
    height: 100vh;
    width: 100%;
  }
  .GamePlayCard {
    padding: 10% 0 0 0;
  }
  .img_Holder {
    width: 90%;
    height: 27%;
    margin: 7% 0 6% 0;
  }
  .img_Holder img {
    width: 95%;
    height: 90%;
    border-radius: 2px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  .question {
    margin: 4% 0;
  }
  .answers button {
    width: 90%;
    margin: 0 0 6% 0;
  }
  .answers button:hover {
    width: 90%;
  }
  .last_Message {
    width: 90%;
    height: 50%;
    border-radius: 9px;
    padding: 10px;
  }
  .first_Text {
    font-size: 18px;
  }
  .score_End {
    margin: 5%;
    font-size: 80px;
    color: green;
  }
  .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 0;
  }
  .link {
    background-color: #f3f3f3;
    height: 29px;
    width: 80%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 2px 0 0 15px;
    margin-right: 10px;
  }
  .share a img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
  .last_Message img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .GameOver button {
    font-size: 18px;
    width: 100px;
    height: 40px;
    margin: 15px 0 0 0;
  }
  .countdown {
    width: 95%;
  }
}
/*# sourceMappingURL=gameplay.css.map */